* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krona One', sans-serif;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* HERO SECTION  */
.hero__container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero__container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./image/Home.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.hero__logo {
    margin: 2rem 4rem;
    width: 140px;
    height: 140px;
    cursor: pointer;
}

.hero__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__navbar {
    margin: 5rem 7rem;
    display: flex;
}

.nav__item {
    margin: 2rem 0;
    padding: 0 1.5rem;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.nav__item a {
    color: #FFFF;
}

.nav__item a:hover {
    color: #44c7f4;
    transition: 0.3s;
}

.item__arrow i {
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
}

.item__arrow:hover i {
    color: #44c7f4;
}

.hero--text--btn {
    margin: 0 7rem;
    width: 650px;
}

.hero__title {
    width: 600px;
    font-size: 48px;
    font-weight: 400;
    color: #FFF;
}

.hero__para {
    margin: 1rem 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Source Code Pro', monospace;
    color: #FFF;
}

.hero--btn--group {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.hero__btn {
    font-size: 12px;
    font-weight: 400;
    border: 2px solid #0065AD;
    border-radius: 50px;
    cursor: pointer;
}

.hero__btn a {
    color: #FFF;
}

.btn__one {
    width: 230px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0065AD;
    transition: 0.5s ease-in-out;
}

.btn__two {
    width: 200px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.btn__one:hover {
    background: transparent;
    color: #0065AD;

}

.btn__two:hover {
    background: #0065AD;
}

/* DATA SECTION  */
.data__container {
    padding: 4rem 7rem;
}

.data--header--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data--head--text {
    font-size: 36px;
    font-weight: 400;
    color: #0a0057;
}

.data__dash {
    width: 450px;
    border: 1px solid #0a0057;
}

.data__arrow {
    margin-bottom: 5px;
}

.data__arrow a {
    font-size: 12px;
    font-weight: 400;
    color: #0a0057;
}

.data--card--content {
    padding: 4rem 0;
    display: flex;
    align-items: center;
}

.data__card {
    margin: 0 1rem;
    width: 350px;
    background: #F2F6F9;
    border: 1px solid silver;
    border-radius: 10px;
}

.card__svg {
    padding: 1rem 0;
    width: 330px;
    height: 200px;
}

.card__svg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card__head {
    margin-top: 10px;
    padding: 0 1rem;
    font-size: 18px;
    font-weight: 400;
    color: #0a0057;
}

.card__para {
    padding: 1rem 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #546677;
    font-family: 'Source Code Pro', monospace;
}

.data__info {
    margin-bottom: 10px;
}

.data__info a {
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 400;
    color: #0065AD;
}

.data--services--content {
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.services__card {
    margin: 0 1rem;
    width: 350px;
    border-radius: 10px;
}

.services__img {
    width: 150px;
    height: 150px;
}

.services__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.services__head {
    margin: 1rem 0;
    font-size: 18px;
    font-weight: 400;
    color: #0a0057;
}

.services__para {
    margin: 2rem 0;
    font-size: 18px;
    font-weight: 400;
    color: #546677;
    line-height: 28px;
    font-family: 'Source Code Pro', monospace;
}

/* ABOUT US SECTION   */
.aboutus__container {
    background: #F2F6F9;
}

.about__content {
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    position: relative;
}

.about__content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    top: 70%;
    left: 0;
    background: url(./image/Vector.png);
    background-position: center;
    background-size: cover;
    z-index: 1;
    opacity: 0.6;
}

.about--col--one {
    padding: 3rem 0;

}

.about--col--two {
    padding-right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__head {
    padding: 0 5px;
    font-size: 12px;
    font-weight: 400;
    color: #0065ad;
}

.about__title {
    padding: 2rem 0;
    width: 500px;
    font-size: 36px;
    font-weight: 400;
    color: #0a0057;
}

.about__para {
    width: 500px;
    font-size: 18px;
    font-weight: 400;
    color: #546677;
    font-family: 'Source Code Pro', monospace;
}

.about__number {
    width: 350px;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.number--col--one {}

.number {
    font-size: 36px;
    font-weight: 400;
    color: #059c66;
}

.number__experience {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #546677;
    font-family: 'Source Code Pro', monospace;
}

.about__btn a {
    margin-top: 2rem;
    display: inline-flex;
    padding: 1rem;
    font-size: 12px;
    font-weight: 400;
    color: #0065AD;
    border-radius: 50px;
    border: 2px solid #0065ad;
    font-family: 'Krona One', sans-serif;
    transition: 0.4s ease-in-out;
}

.about__btn:hover a {
    background-color: #0065AD;
    color: #FFF;
}

.about__image {
    width: 365px;
    height: 510px;
}

.about__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about--img--name {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;
    color: #0a0057;
    font-family: 'Krona One', sans-serif;
}

.about--img--details {
    font-size: 14px;
    font-weight: 500;
    color: #546677;
    font-family: 'Source Code Pro', monospace;
}

/* FEATURED  SECTION  */
.featured__container {
    padding: 4rem 7rem;
}

.featured__head {
    padding: 1rem 5px;
    font-size: 12px;
    font-weight: 400;
    color: #0065ad;
}

.featured--header--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured--card--contain {
    padding: 4rem 0;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.featured--card--img {
    width: 540px;
    height: 390px;
}

.featured--card--img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.featured__card {
    position: relative;
}
.case__study {
    padding: 2rem;
    width: 350px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 2px silver;
    position: relative;
}
.case__study {
    position: absolute;
    width: 350px;
    height: 230px;
    top: 300px;
    left: 30px;
    background: #FFF;
}
.case__titl {
    font-size: 20px;
    font-weight: 400;
}

.case__para {
    margin: 15px 0;
    font-size: 14px;
    font-weight: 500;
    color: #546677;
    font-family: 'Source Code Pro', monospace;
}

.case__number {
    margin: 1rem 0;
    font-size: 30px;
    font-weight: 400;
    color: #059c66;
}

.view__case {
    display: flex;
    align-items: center;
}

.view__title {
    font-size: 12px;
    font-weight: 400;
    color: #0065ad;
}

.viwe__arrow {
    width: 30px;
    height: 30px;
}

.viwe__arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}